# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Dependencies & Build Files
node_modules/
jspm_packages/
bower_components/
web_modules/

# Cache
.npm
.eslintcache
.stylelintcache
.cache/
.parcel-cache

# TypeScript
*.tsbuildinfo

# Deployment
.next
out
.nuxt
dist
.docusaurus
.serverless/

# Messenger Bot Security
.env
.env.*
config.js
facebook_config.json
app_credentials.json

# Ignore Local Metadata
.DS_Store
Thumbs.db
.vscode/
.vscode-test
